See http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [43]:
import pandas as pd
import numpy as np

In [44]:
rng = pd.date_range('2018-07-20', periods=120, freq='D')

In [45]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [61]:
ts.resample('8D', closed='left').mean()

2018-07-20    188.125
2018-07-28    290.125
2018-08-05    221.375
2018-08-13    248.375
2018-08-21    241.875
2018-08-29    188.375
2018-09-06    319.875
2018-09-14    203.750
2018-09-22    293.625
2018-09-30    182.875
2018-10-08    230.750
2018-10-16    314.000
2018-10-24    245.875
2018-11-01    269.250
2018-11-09    278.250
dtype: float64

In [65]:
[ts[i * 8:(i + 1) * 8].mean() for i in range(120 // 8)]

[188.125,
 290.125,
 221.375,
 248.375,
 241.875,
 188.375,
 319.875,
 203.75,
 293.625,
 182.875,
 230.75,
 314.0,
 245.875,
 269.25,
 278.25]

In [66]:
ts.resample('8D', closed='right').mean()

2018-07-12    291.000000
2018-07-20    176.125000
2018-07-28    302.875000
2018-08-05    244.250000
2018-08-13    208.375000
2018-08-21    235.625000
2018-08-29    231.500000
2018-09-06    276.000000
2018-09-14    211.000000
2018-09-22    290.500000
2018-09-30    181.125000
2018-10-08    256.500000
2018-10-16    321.625000
2018-10-24    237.500000
2018-11-01    245.625000
2018-11-09    298.857143
dtype: float64

In [71]:
[ts[(i + 1) * 8:(i + 1) * 8].mean() for i in range(120 // 8)]

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]